/* Add some basic styling */
body {
  font-family: "Courier New", monospace;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "Courier New", monospace;
  font-size: 16px;
}
input:focus {
  outline: none;
}

.terminal {
  margin: 3px;
  border-radius: 10px 10px 0 0;
}
.terminal .terminal-header {
  background-color: rgb(49, 49, 49);
  border-radius: 10px 10px 0 0;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.terminal .terminal-header .terminal-left {
  display: flex;
  align-items: center;
}
.terminal .terminal-header .terminal-left .terminal-icon {
  margin-right: 5px;
  height: 20px;
}
.terminal .terminal-header .terminal-right {
  display: flex;
  align-items: center;
}
.terminal .terminal-header .terminal-right .close {
  border: 1px solid #ffffff;
  border-radius: 100%;
  padding: 10px;
  height: 15px;
  width: 15px;
}
.terminal .terminal-header .terminal-right .close img {
  height: 100%;
}
.terminal .terminal-content {
  padding: 10px;
}
.terminal .terminal-content .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.terminal .terminal-content .profile .dot-picture {
  font-size: 2px;
  white-space: pre;
  margin-bottom: 4px;
}
.terminal .terminal-content .profile h3, .terminal .terminal-content .profile h4 {
  margin: 0;
  margin-top: 4px;
}

.prompt {
  color: green;
}

.output {
  color: #ffffff;
}
.output p:first-of-type {
  margin-top: 0;
}
.output p:last-of-type {
  margin-bottom: 0;
}