body {
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
    padding: 0 2rem;
}
h1,p{
    color: aliceblue;
}
h1 {
    margin-bottom: 0.5rem;
}

.hide {
    opacity: 0;
}